<div class="ui raised segment">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2 style="font-size: 24px; margin: 4px;"><b>11-a-side Soccer Pitches List</b></h2>
      </div>
      <div class="col-sm-6">
        <div class="ui teal labeled icon right button" (click)="openAddItemDialog()">
          Create New Order
          <i class="add icon"></i>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="searchSoccerPitches" (ngSubmit)="onSubmit(searchSoccerPitches.value)" class="ui form">
    <div class="field">
      <label for="searchDistrict">{{ searchType }}</label>

      <div class="input-group">
        <div class="search-box">
          <i class="material-icons">&#xE8B6;</i>
          <input type="text" id="searchDistrict" formControlName="searchDistrict"
            placeholder="Search Any Location/District" aria-label="Search">
        </div>
        <div class="text-end">
          <button type="submit" class="ui button">Submit</button>
          <button (click)="retrieveButtonHandler()" type="submit" class="ui button">Show All</button>
        </div>
      </div>
    </div>

  </form>

  <table class="ui very padding selectable teal eight column table">
    <thead class="table-borderless table-secondary">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">District</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Opening Hours</th>
        <th scope="col">Phone</th>
        <th scope="col">Remarks</th>
        <th scope="col">Ancillary facilities</th>
        <th scope="col" class="right aligned">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Pitches of serverDataArr;let row = index">
        <td>{{ row + 1 }}</td>
        <td>{{ Pitches.district }}</td>
        <td>{{ Pitches.name }}</td>
        <td>{{ Pitches.address }}</td>
        <td>{{ Pitches.opening_hours }}</td>
        <td>{{ Pitches.phone }}</td>
        <td>{{ Pitches.remarks }}</td>
        <td>{{ Pitches.ancillary_facilities }}</td>

        <td class="right aligned">
          <div class="ui small basic icon buttons">
            <button class="ui button" type="button" title="Edit"><i class="large edit icon"
                (click)="openUpdateNamePopup(Pitches)"></i></button>
            <button class="ui button" type="button" title="Delete"><i class="large trash icon"
                (click)="openDeleteDialog(Pitches)"></i></button>
          </div>

        </td>
      </tr>

    </tbody>
  </table>

</div>
