<div class="ui raised segment">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2 style="font-size: 24px; margin: 4px;"><b>11-a-side Soccer Pitches List</b></h2>
      </div>
      <div class="col-sm-6">
        <div class="ui teal labeled icon right button" (click)="openAddItemDialog()">
          Create New Order
          <i class="add icon"></i>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="searchSoccerPitches" (ngSubmit)="onSubmit(searchSoccerPitches.value)" class="ui form">
    <div class="field">
      <label for="searchDistrict">{{ searchType }}</label>

      <div class="input-group">
        <div class="search-box">
          <i class="material-icons">&#xE8B6;</i>
          <input type="text" id="searchDistrict" formControlName="searchDistrict"
            placeholder="Search Any Location/District" aria-label="Search">
        </div>
        <div class="text-end">
          <button type="submit" class="ui button">Submit</button>
          <button (click)="retrieveButtonHandler()" type="submit" class="ui button">Show All</button>
        </div>
      </div>
    </div>

  </form>

  <!-- <div *ngIf="isSuccess" class="ui positive message">
    <div class="header"> You are eligible for a reward </div>
  </div>

  <div *ngIf="isError" class="ui negative message">
    <i class="close icon"></i>
    <div class="header">
      We're sorry we can't apply that discount
    </div>
    <p>{{showError}}</p></div> -->

  <table class="ui very padding selectable teal eight column table">
    <thead class="table-borderless table-secondary">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">District</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Opening Hours</th>
        <th scope="col">Phone</th>
        <th scope="col">Remarks</th>
        <th scope="col">Ancillary facilities</th>
        <th scope="col" class="right aligned">Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Pitches of serverDataArr;let row = index">
        <td>{{ row + 1 }}</td>
        <td>{{ Pitches.district }}</td>
        <td>{{ Pitches.name }}</td>
        <td>{{ Pitches.address }}</td>
        <td>{{ Pitches.opening_hours }}</td>
        <td>{{ Pitches.phone }}</td>
        <td>{{ Pitches.remarks }}</td>
        <td>{{ Pitches.ancillary_facilities }}</td>

        <td class="right aligned">
          <div class="ui small basic icon buttons">
            <button class="ui button" type="button" title="Edit"><i class="large edit icon"
                (click)="openUpdateNamePopup(Pitches)"></i></button>
            <button class="ui button" type="button" title="Delete"><i class="large trash icon"
                (click)="openDeleteDialog(Pitches)"></i></button>
          </div>

        </td>
      </tr>

    </tbody>
  </table>

</div>

<!--update name modal View-->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':updateDialogDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="updateDatabaseModalLabel">Modify Soccer info</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closePopup()"></button>
      </div>

      <form [formGroup]="updateSoccerPitches" (ngSubmit)="updateNameAPICall(updateSoccerPitches.value)" class="ui form">
        <div class="modal-body">

          <div class="disabled field">
            <div class="ui labeled input">
              <div class="ui label"> District</div>
              <input type="text" class="form-control" aria-describedby="basic-addon1" formControlName="editDistrict"
                value="{{selectedUpdateDistrict}}" readonly>
            </div>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Name</div>
              <input type="text" value="{{selectedUpdateName}}" class="form-control" id="modifyName"
                formControlName="editName" placeholder="Please enter soccer pitches name">
            </div>
          </div>

          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Address</div>
              <input type="text" value="{{selectedUpdateAddress}}" class="form-control" id="modifyAddress"
                formControlName="editAddress" placeholder="Please enter soccer pitchesaddress info">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Opening Hours</div>
              <input type="text" value="{{selectedUpdateHours}}" class="form-control" aria-describedby="basic-addon1"
                id="modifyOpeningHours" formControlName="editHours"
                placeholder="Please enter soccer pitches opening hours">
            </div>
          </div>

          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Phone Number</div>
              <input type="text" value="{{selectedUpdatePhone}}" class="form-control" aria-describedby="basic-addon1"
                id="modifyPhoneNumber" formControlName="editPhone"
                placeholder="Please enter soccer pitches phone number">
            </div>
          </div>

          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Ancillary facilities</div>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyAncillaryFacilities"
                formControlName="editAncillary" placeholder="Please enter soccer pitches ancillary info"
                value="{{selectedUpdateAncillary}}">
            </div>
          </div>
          <div class="field">
            <div class="ui labeled input">
              <div class="ui label">Remarks</div>
              <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyRemarks"
                formControlName="editRemarks" placeholder="Please enter any remarks" value="{{selectedUpdateRemarks}}">
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" type="submit" class="btn btn-primary">
            Submit
          </button>
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->


<!--Add name modal View-->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':addDialogDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h2 class="modal-title" id="updateDatabaseModalLabel">Add a new Soccer info</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closePopup()"></button>
      </div>

      <form [formGroup]="createNewSoccerPitches" (ngSubmit)="addNewItemAPICall(createNewSoccerPitches.value)"
        class="ui form">
        <div class="modal-body">

          <div class="field mb-3">
            <label>District</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyDistrict"
              formControlName="newDistrict" placeholder="Please enter soccer pitches district">
          </div>

          <div class="field mb-3">
            <label>Name</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyName"
              formControlName="newName" placeholder="Please enter soccer pitches name">
          </div>

          <div class="field mb-3">
            <label>Address</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyAddress"
              formControlName="newAddress" placeholder="Please enter soccer pitchesaddress info">
          </div>

          <div class="field mb-3">
            <label>Opening Hours</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyOpeningHours"
              formControlName="newHours" placeholder="Please enter soccer pitches opening hours">
          </div>

          <div class="field mb-3">
            <label>Phone Number</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyPhoneNumber"
              formControlName="newPhone" placeholder="Please enter soccer pitches phone number">
          </div>

          <div class="field mb-3">
            <label>Ancillary facilities</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyAncillaryFacilities"
              formControlName="newAncillary" placeholder="Please enter soccer pitches ancillary info">
          </div>

          <div class="field mb-3">
            <label>Remarks</label>
            <input type="text" class="form-control" aria-describedby="basic-addon1" id="modifyRemarks"
              formControlName="newRemarks" placeholder="Please enter any remarks">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" type="submit" class="btn btn-primary">
            Submit
          </button>
          <button type="button" class="btn btn-danger" (click)="closePopup()">
            cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!--delete modal View-->
<!-- <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':removeDialogDisplayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="updateDatabaseModalLabel">Remove Soccer item</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="closePopup()"></button>
      </div>

      <div class="modal-body">
        <h2>You are about to cancel the following Soccer Pitches</h2>

        <h4>Are you confirm to removing the {{selectedDistrict}} football pitch info item</h4>
        <p><b><small id="emailHelp" class="form-text text-muted">This item will be deleted immediately, You can't undo
              this action</small></b></p>

      </div>

      <div class="modal-footer">
        <button type="button" type="submit" class="btn btn-primary" (click)="deleteButtonHandler()">
          Confirm
        </button>
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div> -->