
.search-box {
    position: relative;
    min-width: 1000px;
  }
  
  .search-box input {
    border-radius: 6px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
  }
  
  .search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 9px;
    left: 10px;
  }