<p> </p>
<div *ngIf="isSuccess" class="ui positive message">
  <div class="header">You action has been completed </div>
  <p>{{successMsg}}</p>
</div>

<div *ngIf="isError" class="ui negative message">
  <i class="close icon"></i>
  <div class="header"> We're encounting some issue</div>
  <p>{{errorMsg}}</p>
</div>

<p>
  <app-search-panel
    (deleteEvent)="deleteViewEventReceiver($event)"
    (addItemEvent)="addItemEventReceiver()"
    (updateItemEvent)="updateItemEventReceiver($event)"></app-search-panel>
</p>

<p>
  <app-delete-view
    [removeDialogDisplayStyle]="this.removeDialogDisplayStyle" [itemGIHS]="this.itemGIHS"
    [selectedDistrict]="this.selectedDistrict" (dismissEvent)="dismissEventReceiver($event)">
  </app-delete-view>
</p>

<p>
  <app-add-item-view
    [addDialogDisplayStyle]="this.addDialogDisplayStyle"
    (dismissAddViewEvent)="dismissAddViewEventReceiver($event)">
  </app-add-item-view>
</p>

<p>
  <app-update-view
   [updateDialogDisplayStyle]="this.updateDialogDisplayStyle"
   [tableRecord]="this.tableRecord"
   (dismissUpdateViewEvent)="dismissUpdateViewEventReceiver($event)"
   ></app-update-view>
</p>